In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import scipy.stats as stats

In [2]:
# 강의실용
member_df = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\data\One_Market_Data\member_data.csv')
df1 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\data\One_Market_Data\product_data_001.csv')
df2 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\data\One_Market_Data\product_data_002.csv')
df3 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\data\One_Market_Data\product_data_003.csv')
df4 = pd.read_csv(r'C:\Users\UserK\Desktop\Ranee\data\One_Market_Data\product_data_004.csv')

# 데이터 불러오기

In [2]:
# 
path = r'C:\Users\MSI\Desktop\study\Data\One_Market_Data'
member_df = pd.read_csv(path+'\member_data.csv')
df1 = pd.read_csv(path+'\product_data_001.csv')
df2 = pd.read_csv(path+'\product_data_002.csv')
df3 = pd.read_csv(path+'\product_data_003.csv')
df4 = pd.read_csv(path+'\product_data_004.csv')

In [3]:
print(member_df.shape)
member_df.info()

(11555, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11555 entries, 0 to 11554
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회원번호         11555 non-null  int64
 1   조합원상태        11555 non-null  object
 2   주소           11555 non-null  object
 3   성별           11553 non-null  object
 4   연령           11553 non-null  float64
 5   배송서비스신청여부    11555 non-null  object
 6   모바일알람여부      11555 non-null  object
 7   Gold_member  11555 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 722.3+ KB

In [10]:
member_df.isnull().sum()

회원번호           0
조합원상태          0
주소             0
성별             2
연령             2
배송서비스신청여부      0
모바일알람여부        0
Gold_member    0
dtype: int64

In [7]:
member_df['주소'].unique()

array(['수지구-풍덕천동', '처인구-고림동', '광주-기타', '수지구-동천동', '수지구-신봉동', '기흥구-상하동',
       '수지구-상현동', '기타-기타', '수지구-성복동', '분당구-백현동', '분당구-판교동', '수지구-죽전동',
       '분당구-구미동', '기흥구-동백동', '수원 영통구-기타', '기흥구-보정동', '기흥구-청덕동',
       '서울 강남구-기타', '수원 팔달구-기타', '분당구-수내동', '서울 송파구-기타', '기흥구-기타',
       '기흥구-언남동', '분당구-중동', '분당구-삼평동', '기흥구-마북동', '광주-오포읍', '화성-기타',
       '분당구-정자동', '기흥구-중동', '분당구-기타', '중원구-금광동', '처인구-역북동', '수지구-기타',
       '수원 장안구-기타', '처인구-삼가동', '처인구-기타', '수정구-신흥동', '수원 권선구-기타',
       '분당구-서현동', '분당구-야탑동', '기흥구-보라동', '기흥구-구갈동', '처인구-김량장동', '처인구-이동면',
       '분당구-분당동', '기흥구-신갈동', '기흥구-영덕동', '수정구-위례(창곡)동', '하남-기타', '기흥구-죽전동',
       '처인구-모현면', '기타-금광동', '처인구-원삼면', '분당구-이매동', '분당구-금곡동', '기타-신흥동',
       '기흥구-공세동', '기흥구-상갈동', '수정구-복정동', '기흥구-서천동', '광주-산성동', '중원구-도촌동',
       '처인구-유방동', '수원 장안구-정자동', '처인구-남사면', '서울 강남구-은행동', '수원 권선구-금곡동',
       '분당구-궁내동', '수정구-기타', '중원구-성남동', '중원구-여수동', '기타-금곡동', '기타-동천동',
       '기타-비조합원', '수정구-상대원동', '중원구-상대원동', '중원구-은행동', '중원구-하대원동', '기타-중앙동',
       '기타-보라동', '기타-동백동', '기타-은행동', '화성-보라동', '중원구-산성동', '수정구-단대동',
       '분당구-율동', '기타-궁내동', '기흥구-지곡동', '처인구-마평동', '수정구-태평동', '하남-위례동',
       '기타-율동', '기타-태평동', '기타-성남동'], dtype=object)

In [8]:
print(member_df['주소'].value_counts())

수지구-풍덕천동    3188
수지구-상현동     1601
수지구-신봉동     1422
기타-기타       1126
수지구-동천동      924
            ...
수정구-복정동        1
수정구-상대원동       1
기타-비조합원        1
기타-동천동         1
기타-성남동         1
Name: 주소, Length: 95, dtype: int64

In [ ]:
# 모바일 알람여부 . -> 미수신
member_df['모바일알람여부'] = member_df['모바일알람여부'].replace('.','미수신')
member_df['모바일알람여부'].value_counts()

### 연령대 칼럼 추가

In [4]:
def age_func(row) :
    if pd.isnull(row) :
        return row
    elif row >= 90 :
        return '90대이상'
    else : 
        return str(row)[0]+'0대'
    
member_df['연령대'] = member_df['연령'].apply(age_func)

In [5]:
print(member_df['연령대'].isnull().sum())
member_df['연령대'].value_counts()

2

40대      4480
50대      2546
30대      2137
60대      1455
70대       736
80대       136
20대        52
90대이상      10
10대         1
Name: 연령대, dtype: int64

In [94]:
member_df.loc[member_df['연령']<20]

            회원번호 조합원상태        주소 성별    연령 배송서비스신청여부 모바일알람여부 Gold_member  연령대
4091  1575020160  정상회원  수지구-풍덕천동  여  17.0       미신청       .      normal  10대

In [6]:
product_df = pd.concat([df1, df2, df3,df4], ignore_index=True)

In [14]:
product_df.shape

(294645, 12)

In [7]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294645 entries, 0 to 294644
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      294645 non-null  object
 1   회원번호      294645 non-null  int64
 2   조합원상태     294645 non-null  object
 3   물품대분류     294645 non-null  object
 4   물품중분류     294645 non-null  object
 5   물품소분류     294645 non-null  object
 6   물품명       294645 non-null  object
 7   구매수량      294645 non-null  float64
 8   구매금액      294645 non-null  int64
 9   구매매장      294645 non-null  object
 10  반품_원거래일자  4960 non-null    object
 11  구매시각      294645 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 27.0+ MB

### 구매시각,공급일자 파생변수들

In [8]:
product_df['구매시각_dt'] =  pd.to_datetime(product_df['구매시각'])
product_df['구매시각_dt'].describe()

C:\Users\MSI\AppData\Local\Temp\ipykernel_35960\2870433606.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  product_df['구매시각_dt'].describe()

count                  294645
unique                    692
top       2024-05-28 10:11:00
freq                     1003
first     2024-05-28 08:08:00
last      2024-05-28 20:52:00
Name: 구매시각_dt, dtype: object

In [26]:
def time_func(row):
    if 8 <= row < 12:
        return '오전'
    elif 12 <= row < 17:
        return '오후'
    else :
        return '저녁'

product_df['시간대'] = product_df['구매시각_dt'].dt.hour.apply(time_func)

In [27]:
product_df['시간대'].value_counts()

오후    150846
오전     74805
저녁     68994
Name: 시간대, dtype: int64

In [19]:
product_df['공급일자_dt'] = pd.to_datetime(product_df['공급일자'])

In [28]:
product_df['월'] = product_df['공급일자_dt'].dt.month
product_df['요일'] = product_df['공급일자_dt'].dt.day_name()

def weekend_func(row) : 
    if row in ['Saturday','Sunday'] :
        return '주말'
    else :
        return '주중'

product_df['주말/주중'] = product_df['요일'].apply(weekend_func)

In [23]:
product_df['월'].value_counts()

7     32172
1     31411
8     30813
3     29711
6     29566
5     29532
4     29131
9     27971
2     27498
10    26840
Name: 월, dtype: int64

In [29]:
product_df.isnull().sum()

공급일자             0
회원번호             0
조합원상태            0
물품대분류            0
물품중분류            0
물품소분류            0
물품명              0
구매수량             0
구매금액             0
구매매장             0
반품_원거래일자    289685
구매시각             0
구매시각_dt          0
시간대              0
공급일자_dt          0
월                0
요일               0
주말/주중            0
dtype: int64

In [23]:
print('반품갯수 : ',product_df.shape[0]-product_df['반품_원거래일자'].isnull().sum())

반품갯수 :  4960

# 최종 데이터 (고객데이터+구매상품데이터)

In [30]:
onemarket_df = pd.merge(product_df,member_df,on='회원번호')

In [31]:
print(onemarket_df.shape)
onemarket_df.info()

(294645, 26)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 294645 entries, 0 to 294644
Data columns (total 26 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   공급일자         294645 non-null  object
 1   회원번호         294645 non-null  int64
 2   조합원상태_x      294645 non-null  object
 3   물품대분류        294645 non-null  object
 4   물품중분류        294645 non-null  object
 5   물품소분류        294645 non-null  object
 6   물품명          294645 non-null  object
 7   구매수량         294645 non-null  float64
 8   구매금액         294645 non-null  int64
 9   구매매장         294645 non-null  object
 10  반품_원거래일자     4960 non-null    object
 11  구매시각         294645 non-null  object
 12  구매시각_dt      294645 non-null  datetime64[ns]
 13  시간대          294645 non-null  object
 14  공급일자_dt      294645 non-null  datetime64[ns]
 15  월            294645 non-null  int64
 16  요일           294645 non-null  object
 17  주말/주중        294645 non-null  object
 18  조합원상태_y      294645 non-null  object
 19  주소           294645 non-null  object
 20  성별           294642 non-null  object
 21  연령           294626 non-null  float64
 22  배송서비스신청여부    294645 non-null  object
 23  모바일알람여부      294645 non-null  object
 24  Gold_member  294645 non-null  object
 25  연령대          294626 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(19)
memory usage: 60.7+ MB

In [32]:
onemarket_df = onemarket_df.drop(columns='조합원상태_y')
onemarket_df = onemarket_df.rename(columns={'조합원상태_x':'조합원상태'})

In [33]:
onemarket_df.columns

Index(['공급일자', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류', '물품명', '구매수량',
       '구매금액', '구매매장', '반품_원거래일자', '구매시각', '구매시각_dt', '시간대', '공급일자_dt', '월',
       '요일', '주말/주중', '주소', '성별', '연령', '배송서비스신청여부', '모바일알람여부', 'Gold_member',
       '연령대'],
      dtype='object')

In [38]:
pv1_mean = onemarket_df.pivot_table(index=['모바일알람여부','회원번호'], values = '구매금액', aggfunc='mean').reset_index()
pv1_sum = onemarket_df.pivot_table(index=['모바일알람여부','회원번호'], values = '구매금액', aggfunc='sum').reset_index()

In [39]:
pv1_mean

      모바일알람여부        회원번호          구매금액
0         미수신    18613824  21059.000000
1         미수신    18764160  -8882.700000
2         미수신    18792000  33311.000000
3         미수신    18942336  17528.750000
4         미수신    18949760   2776.000000
...       ...         ...           ...
11550      수신  1631321920  12405.500000
11551      수신  1635319744   7167.250000
11552      수신  1636290432  12061.000000
11553      수신  1636303424  -2297.000000
11554      수신  1670400000   9638.918081

[11555 rows x 3 columns]

In [40]:
pv1_sum

      모바일알람여부        회원번호      구매금액
0         미수신    18613824     21059
1         미수신    18764160    -88827
2         미수신    18792000     33311
3         미수신    18942336    560920
4         미수신    18949760      2776
...       ...         ...       ...
11550      수신  1631321920     49622
11551      수신  1635319744     57338
11552      수신  1636290432     24122
11553      수신  1636303424     -2297
11554      수신  1670400000  13060734

[11555 rows x 3 columns]

In [42]:
pv1_sum.loc[pv1_sum['구매금액']<0]

      모바일알람여부        회원번호    구매금액
1         미수신    18764160  -88827
11        미수신    20993216  -16464
171       미수신    57302144   -7083
449       미수신    97532800  -24313
659       미수신   135862912  -21824
887       미수신   178216832  -10817
964       미수신   188946368    -957
1067      미수신   204638848   -1149
1167      미수신   221808704 -110462
1423      미수신   263516736   -1340
1468      미수신   267904320   -3254
1791      미수신   317004800  -15316
2259      미수신   399893760 -104526
2653      미수신   459849984 -102612
3015      미수신   535645312   -4212
3140      미수신   554437312  -77419
3505      미수신   603424576   -2489
3603      미수신   619441856   -6126
3999      미수신   677590336  -18282
4000      미수신   677614464   -3638
4199      미수신   702002304   -2872
4507      미수신   743417088   -5360
4608      미수신   745570048  -24313
5448      미수신   791550592  -64707
5626      미수신   817631104  -52981
5745      미수신   832482816   -4020
6061      미수신   864589760  -21442
6080      미수신   866783552    -670
6380      미수신   907203520  -22973
6548      미수신   938016832  -19336
6852      미수신   999474560  -23643
7077      미수신  1019582464   -1723
7347      미수신  1055243648  -15507
7561      미수신  1094655808   -8903
7872      미수신  1147481280  -12635
8164      미수신  1201180928   -5552
8702      미수신  1286779648   -9955
8780      미수신  1302022976    -192
9059      미수신  1352610112   -4978
9527      미수신  1458554304   -7275
9897      미수신  1516619264  -29482
9993      미수신  1529962048 -428723
10079     미수신  1541086912  -24869
10382     미수신  1580972352  -18762
10460     미수신  1607535424  -15316
10916      수신   482307584   -8232
11553      수신  1636303424   -2297

In [72]:
pv1_sum.loc[pv1['구매금액']<0]['구매금액'].sum()

-1457828

In [67]:
onemarket_df.loc[onemarket_df['회원번호']==18764160]

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member
214517,2022-04-27,18764160,정상회원,생활용품,생활용품,위생용품,면생리대(팬티라이너/3개),1.0,21059,매장D,NaN,18:58,기타-기타,여,76.0,미신청,.,normal
214518,2022-05-02,18764160,정상회원,간식,과자,스낵,오징어땅콩볼(100g),1.0,4595,매장D,NaN,12:40,기타-기타,여,76.0,미신청,.,normal
214519,2022-05-13,18764160,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-1.0,-166554,매장D,2022-05-14,16:31,기타-기타,여,76.0,미신청,.,normal
214520,2022-06-23,18764160,정상회원,간식,식사대용,식사대용/기타,소불고기볶음밥(300g),1.0,9381,매장D,NaN,15:14,기타-기타,여,76.0,미신청,.,normal
214521,2022-07-12,18764160,정상회원,채소,과일채소,메론,메론_머스크/중(1.5~2kg:1통),1.0,14550,매장D,NaN,19:03,기타-기타,여,76.0,미신청,.,normal
214522,2022-08-22,18764160,정상회원,음료,음료,빙과,딸기꽁꽁(120ml)/매장용,2.0,4020,매장D,NaN,18:59,기타-기타,여,76.0,미신청,.,normal
214523,2022-08-22,18764160,정상회원,간식,빵,앙금크림빵,크림빵(75g)/매장,1.0,3063,매장D,NaN,18:59,기타-기타,여,76.0,미신청,.,normal
214524,2022-01-22,18764160,정상회원,생활용품,세제/세안,세안비누,키토산비누(4장/1세트),-1.0,-8806,매장A,2022-01-25,15:41,기타-기타,여,76.0,미신청,.,normal
214525,2022-01-22,18764160,정상회원,생활용품,생활용품,치약/칫솔,물사랑치약(150g*2개),1.0,8806,매장A,NaN,15:41,기타-기타,여,76.0,미신청,.,normal
214526,2022-03-29,18764160,정상회원,생활용품,생활용품,위생용품,면생리대(팬티라이너/3개),1.0,21059,매장A,NaN,16:55,기타-기타,여,76.0,미신청,.,normal

In [69]:
onemarket_df.loc[onemarket_df['회원번호']==399893760].sort_values(by='물품명')

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member
137438,2022-02-27,399893760,정상회원,반찬,밑반찬,부각/튀각,고추부각(60g),-1.0,-6126,매장B,2022-02-28,11:25,기타-기타,남,51.0,미신청,.,normal
137434,2022-02-21,399893760,정상회원,수산,냉동수산,냉동생선,대구포(400g),-4.0,-104910,매장D,2022-02-22,18:01,기타-기타,남,51.0,미신청,.,normal
137435,2022-02-21,399893760,정상회원,수산,냉동수산,냉동생선,대구포(400g),4.0,104910,매장D,NaN,17:59,기타-기타,남,51.0,미신청,.,normal
137439,2022-02-21,399893760,정상회원,채소,뿌리채소,무,무(0.7~1kg미만),-1.0,-1914,매장A,2022-02-22,12:39,기타-기타,남,51.0,미신청,.,normal
137440,2022-02-21,399893760,정상회원,과실,견과,땅콩,볶은피땅콩(500g),8.0,125586,매장A,NaN,14:09,기타-기타,남,51.0,미신청,.,normal
137436,2022-02-21,399893760,정상회원,생활용품,화장품,기초화장품,수피아 내츄럴 수분미스트토너,-8.0,-119459,매장D,2022-02-22,18:45,기타-기타,남,51.0,미신청,.,normal
137431,2022-02-21,399893760,정상회원,생활용품,화장품,바디/핸드,수피아 누리봄 손크림(허브향/30g),-17.0,-110653,매장C,2022-02-22,15:27,기타-기타,남,51.0,미신청,.,normal
137437,2022-02-27,399893760,정상회원,음료,음료,건강차,양파즙(120ml*20봉),4.0,111036,매장B,NaN,10:56,기타-기타,남,51.0,미신청,.,normal
137432,2022-02-21,399893760,정상회원,축산물,소,한우(냉장),우둔장조림(신선육/300g/국내산),-2.0,-60113,매장C,2022-02-23,16:11,기타-기타,남,51.0,미신청,.,normal
137433,2022-02-21,399893760,정상회원,간식,밀가공,간편조리면,우리밀우동(491g/2인분),-4.0,-42883,매장C,2022-02-22,16:11,기타-기타,남,51.0,미신청,.,normal

### 모바일 알람 여부에 따른 구매금액 대표값의 차이가 있다 vs 없다

In [78]:
cond1 = onemarket_df['모바일알람여부'] == '수신'

print(stats.normaltest(onemarket_df.loc[cond1]['구매금액']))
print(stats.normaltest(onemarket_df.loc[~cond1]['구매금액']))
# 정규성X

NormaltestResult(statistic=175669.35314839988, pvalue=0.0)
NormaltestResult(statistic=575072.2485612824, pvalue=0.0)

In [ ]:
stats.ranksums(onemarket_df.loc[cond1]['구매금액'],onemarket_df.loc[~cond1]['구매금액'])
# 3.829107351120792e-13 < 0.05  ==> 귀무가설(대표값차이가없다) 기각 ==> 대표값의차이가 있다.

### 연령대 따른 구매금액 대표값의 차이가 있다 vs 없다

In [40]:
onemarket_df['연령대'].value_counts()

연령대
40대      111834
50대       73701
30대       42774
60대       40191
70대       21634
80대        2943
20대        1090
90대이상       417
10대          42
Name: count, dtype: int64

In [112]:
cond1 = onemarket_df['연령대'] == '10대'
cond2 = onemarket_df['연령대'] == '20대'
cond3 = onemarket_df['연령대'] == '30대'
cond4 = onemarket_df['연령대'] == '40대'
cond5 = onemarket_df['연령대'] == '50대'
cond6 = onemarket_df['연령대'] == '60대'
cond7 = onemarket_df['연령대'] == '70대'
cond8 = onemarket_df['연령대'] == '80대'
cond9 = onemarket_df['연령대'] == '90대이상'

cond_age_list = [cond1,cond2,cond3,cond4,cond5,cond6,cond7,cond8,cond9]

for cond in cond_age_list :
    print(stats.normaltest(onemarket_df.loc[cond]['구매금액']))

NormaltestResult(statistic=12.796932338901511, pvalue=0.0016641077759983881)
NormaltestResult(statistic=2476.2197054499147, pvalue=0.0)
NormaltestResult(statistic=66628.76671620019, pvalue=0.0)
NormaltestResult(statistic=156967.5680970008, pvalue=0.0)
NormaltestResult(statistic=219829.87513471124, pvalue=0.0)
NormaltestResult(statistic=72683.02585017853, pvalue=0.0)
NormaltestResult(statistic=25449.929805175496, pvalue=0.0)
NormaltestResult(statistic=2429.4212765699067, pvalue=0.0)
NormaltestResult(statistic=954.4314530113008, pvalue=5.5955567041618755e-208)

In [113]:
# 여러 그룹을 비교하려면 Kruskal-Wallis H 검정을 사용하고, 사후검정으로 여러 그룹 간의 차이를 확인
from scipy import stats

In [116]:
groups = onemarket_df.groupby('연령대')['구매금액'].apply(list)
stats.kruskal(*groups)

# 5.15480990507967e-147 < 0.05  ==> 귀무가설(대표값차이가없다) 기각 ==> 대표값의차이가 있다.

KruskalResult(statistic=705.3065882108048, pvalue=5.15480990507967e-147)

## RFM

In [44]:
# 최근성
onemarket_df['Rencency'] = max(onemarket_df['공급일자_dt']) - onemarket_df['공급일자_dt']

In [45]:
p1 = onemarket_df.pivot_table(index='회원번호', values = 'Rencency' , aggfunc = 'min').reset_index()
def fun1(row) :
    a = str(row).split(' ')[0]
    return int(a)

p1['R'] = p1['Rencency'].apply(fun1)

In [51]:
# 빈도수
onemarket_df['F'] = 1
p0 = onemarket_df.pivot_table(index=['회원번호','공급일자'], values='F', aggfunc='min').reset_index() # 고객이 결제를 했으면 1, 아니면 넘어감
p2 = p0.pivot_table(index='회원번호', values='F', aggfunc='sum').reset_index()

In [52]:
# 금액
p3 = onemarket_df.pivot_table(index=['회원번호'] , values = '구매금액' , aggfunc='sum').reset_index()
p3.sort_values(by='구매금액')

             회원번호      구매금액
10833  1529962048   -428723
1276    221808704   -110462
2463    399893760   -104526
2900    459849984   -102612
1        18764160    -88827
...           ...       ...
5441    762476352   5672698
1090    193003584   6327044
2337    381879424   9002241
2724    436681536   9559980
11552  1670400000  13060734

[11555 rows x 2 columns]

In [53]:
m1 = pd.merge(p1,p2, on='회원번호', how='inner')
m2 = pd.merge(m1,p3, on='회원번호', how='inner')

In [55]:
m2['Score'] = (m2['구매금액']*0.4) + (m2['F']*0.3) - (m2['R']*0.3)

cond1 = m2['Score'] >= m2['Score'].quantile(0.1)
cond2 = m2['Score'] >= m2['Score'].quantile(0.3)
cond3 = m2['Score'] >= m2['Score'].quantile(0.7)
m2['고객등급'] = '일반'
m2.loc[cond1, '고객등급'] = 'VVIP'
m2.loc[cond2, '고객등급'] = 'VIP'
m2.loc[cond3, '고객등급'] = 'S'
m2['고객등급'].value_counts()

VIP     4621
S       3467
VVIP    2311
일반      1156
Name: 고객등급, dtype: int64

In [57]:
df1 = m2[['회원번호'],['R'],['F'],['Score'],['고객등급']]
df2 = pd.merge(df1,)

             회원번호 Rencency    R    F      구매금액      Score  고객등급
0        18613824 119 days  119    1     21059     8388.2  VVIP
1        18764160  69 days   69    8    -88827   -35549.1    일반
2        18792000 209 days  209    1     33311    13262.0  VVIP
3        18942336  11 days   11   12    560920   224368.3     S
4        18949760  31 days   31    1      2776     1101.4    일반
...           ...      ...  ...  ...       ...        ...   ...
11550  1644772352   1 days    1    1     85000    34000.0   VIP
11551  1644957952   1 days    1    1     25079    10031.6  VVIP
11552  1670400000   0 days    0  281  13060734  5224377.9     S
11553  1670606016  19 days   19    6    129223    51685.3   VIP
11554  1670620864 147 days  147   10    273762   109463.7     S

[11555 rows x 7 columns]

In [56]:
c2 = pd.crosstab(m2['고객등급'], df3['모바일알람여부'],margins=True).T
c2

KeyError: '고객등급'

In [102]:
c2['S_ratio'] = (c2['S'] / c2['All']) * 100
c2['VIP_ratio'] = (c2['VIP'] / c2['All']) * 100
c2['VVIP_ratio'] = (c2['VVIP'] / c2['All']) * 100
c2['일반'] = (c2['일반'] / c2['All']) * 100
c2[[x for x in c2.columns if 'ratio' in x]]

고객등급       S_ratio  VIP_ratio  VVIP_ratio
모바일알람여부
.        27.672956  41.866141   20.426171
수신       57.538803  17.849224   14.966741
All      30.004327  39.991346   20.000000

In [49]:
df3 = pd.merge(member_df, m2, on='회원번호', how='inner')
c1 = pd.crosstab(df3['고객등급'], df3['연령대'],margins=True)
c1['10대_ratio'] = (c1['10대'] / c1['All']) * 100
c1['20대_ratio'] = (c1['20대'] / c1['All']) * 100
c1['30대_ratio'] = (c1['30대'] / c1['All']) * 100
c1['40대_ratio'] = (c1['40대'] / c1['All']) * 100
c1['50대_ratio'] = (c1['50대'] / c1['All']) * 100
c1['60대_ratio'] = (c1['60대'] / c1['All']) * 100
c1['70대_ratio'] = (c1['70대'] / c1['All']) * 100
c1['80대_ratio'] = (c1['80대'] / c1['All']) * 100
c1['90대_ratio'] = (c1['90대이상'] / c1['All']) * 100
c1[[x for x in c1.columns if 'ratio' in x]]

연령대,10대_ratio,20대_ratio,30대_ratio,40대_ratio,50대_ratio,60대_ratio,70대_ratio,80대_ratio,90대_ratio
고객등급,,,,,,,,,
S,0.028843,0.317277,13.181425,38.534756,24.430343,14.335160,7.730026,1.326796,0.115374
VIP,0.000000,0.432900,20.064935,39.437229,20.909091,11.991342,6.038961,1.060606,0.064935
VVIP,0.000000,0.649351,21.818182,38.268398,20.606061,11.688312,5.670996,1.212121,0.086580
일반,0.000000,0.519031,21.539792,37.889273,22.231834,11.591696,5.017301,1.124567,0.086505
All,0.008656,0.450100,18.497360,38.777807,22.037566,12.594131,6.370640,1.177183,0.086558

In [91]:
cond1 = m2['구매금액'] >= m2['구매금액'].quantile(0.1)
cond2 = m2['F'] >= m2['F'].quantile(0.1)
cond3 = m2['R'] >= m2['R'].quantile(0.8) # 150일

In [92]:
 m2['R'].quantile(0.8)

150.0

In [94]:
runrun = m2.loc[cond1&cond2&cond3]
print(runrun.shape)
runrun.info()

(1723, 7)
<class 'pandas.core.frame.DataFrame'>
Index: 1723 entries, 2 to 11255
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회원번호      1723 non-null   int64
 1   Rencency  1723 non-null   timedelta64[ns]
 2   R         1723 non-null   int64
 3   F         1723 non-null   int64
 4   구매금액      1723 non-null   int64
 5   Score     1723 non-null   float64
 6   고객등급      1723 non-null   object
dtypes: float64(1), int64(4), object(1), timedelta64[ns](1)
memory usage: 107.7+ KB

In [95]:
runrun['count'] = 1
runrun.pivot_table(index='고객등급', values = 'count' , aggfunc='sum')

C:\Users\UserK\AppData\Local\Temp\ipykernel_16268\740003062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runrun['count'] = 1

      count
고객등급
S        39
VIP     733
VVIP    947
일반        4

In [107]:
print(member_df.shape)
member_df.info

(11555, 9)

<bound method DataFrame.info of              회원번호 조합원상태        주소 성별    연령 배송서비스신청여부 모바일알람여부 Gold_member  연령대
0      1000012800  정상회원  수지구-풍덕천동  여  58.0       미신청       .      normal  50대
1      1000103744  정상회원   처인구-고림동  여  34.0       미신청       .      normal  30대
2      1000122304  정상회원     광주-기타  여  38.0       미신청       .      normal  30대
3      1000163136  정상회원   수지구-동천동  여  73.0       미신청       .      normal  70대
4      1000281920  정상회원  수지구-풍덕천동  여  42.0        신청       .      normal  40대
...           ...   ...       ... ..   ...       ...     ...         ...  ...
11550   999682432    탈퇴   수지구-동천동  여  47.0       미신청       .      normal  40대
11551   999721408  정상회원   수지구-동천동  여  43.0       미신청       .      normal  40대
11552   999738112  정상회원   수지구-성복동  여  67.0       미신청       .      normal  60대
11553   999754816  정상회원   수지구-상현동  여  44.0        신청       .      normal  40대
11554    99995712  정상회원   수지구-상현동  여  66.0       미신청       .      normal  60대

[11555 rows x 9 columns]>

In [108]:
member_df.loc[member_df['모바일알람여부'] == '수신']

             회원번호 조합원상태        주소 성별    연령 배송서비스신청여부 모바일알람여부 Gold_member  연령대
35     1004617536  정상회원   수지구-죽전동  여  41.0       미신청      수신      normal  40대
50     1005669888  정상회원   수지구-상현동  여  63.0       미신청      수신      normal  60대
81     1007817280  정상회원  수지구-풍덕천동  여  48.0       미신청      수신      normal  40대
82     1007820992  정상회원  수지구-풍덕천동  여  48.0       미신청      수신      normal  40대
92     1008511424  정상회원   수지구-동천동  여  46.0       미신청      수신      normal  40대
...           ...   ...       ... ..   ...       ...     ...         ...  ...
11490   993938112  정상회원   수지구-신봉동  여  47.0       미신청      수신         VIP  40대
11492   994348288  정상회원  수지구-풍덕천동  여  32.0       미신청      수신         VIP  30대
11512    99763712  정상회원   수지구-신봉동  여  48.0       미신청      수신         VIP  40대
11532   999068096  정상회원   기흥구-신갈동  여  43.0       미신청      수신      normal  40대
11536   999227712  정상회원   수지구-상현동  여  40.0       미신청      수신         VIP  40대

[902 rows x 9 columns]

In [7]:
onemarket_df.pivot_table(index='연령대', values ='구매금액' , aggfunc='mean')

               구매금액
연령대
10대     7970.380952
20대     8633.277064
30대     9831.149086
40대    10749.596643
50대    11798.836203
60대    11496.884551
70대    11534.308681
80대    11426.317703
90대이상  18438.388489

In [12]:
df_90 = onemarket_df.loc[onemarket_df['연령대'] == '90대이상']
df_90.pivot_table(index='회원번호', values ='구매금액' , aggfunc = 'mean')

                    구매금액
회원번호
18792000    33311.000000
70698752    14873.142857
149426560   15796.874016
623725504   23930.000000
682840960   24772.600000
742461248   47752.333333
837410496    7386.333333
1186067520  15475.000000
1281712768   3350.500000
1670620864  12443.727273