### 결측값 제거
    - 결측값 제거 : 결측값이 존재하는 행을 제거
    - 결측값 대치 : 결측값을 다른 값으로 채워 넣음
        - 단순대치 : 평균/중앙값/최빈값과 같은 데이터의 대표값으로 대치
        - 알고리즘을 이용한 대치 : 학습을 통해 주변값과 유사한 다른 값으로 대치
        - 보간법 : 특정 간격을 가진 결측값에 대해 순차적으로 결측값을 보간(대치) / 시간,날짜,주기

In [1]:
import os
os.getcwd()
os.chdir('C:\\Users\\UserK\\Desktop\\Ranee\\SW_CAMP\\파이썬을 활용한 머신러닝')

import pandas as pd

df3 = pd.read_excel('data\\02_Data.xlsx',skiprows=1) # 엑셀에서는 인덱스가 1 ~ 이므로 skiprow를 1로 설정
print(df3.shape)
df3.head(2)

(40, 17)

,카테고리명,자재그룹명,제품명,2019-12-01 00:00:00,2019-12-02 00:00:00,2019-12-03 00:00:00,2019-12-04 00:00:00,2019-12-05 00:00:00,2019-12-06 00:00:00,2020-12-01 00:00:00,2020-12-02 00:00:00,2020-12-03 00:00:00,2020-12-04 00:00:00,2020-12-05 00:00:00,2020-12-06 00:00:00,안전재고,분류
0,CHB,E1,A,0.0,0.0,0.0,0.0,98.8,0.0,0.0,0.0,98.8,0.0,0.0,0.0,0.0,E
1,CHB,E1,B,0.0,0.0,0.0,0.0,393.7,0.0,0.0,0.0,393.7,0.0,0.0,0.0,0.0,E

In [2]:
df1 = pd.read_csv('data\\01_Data.csv')
print(df1.shape)
df1.head(2)

(51301, 20)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드

In [3]:
df1.isnull().sum()

Index               0
Member_ID           0
Sales_Type          0
Contract_Type       0
Channel             0
Datetime            0
Term                0
Payment_Type        0
Product_Type        0
Amount_Month        0
Customer_Type       2
Age              6972
Address1            2
Address2            2
State               0
Overdue_count       0
Overdue_Type        0
Gender              0
Credit_Rank      8781
Bank             2759
dtype: int64

In [5]:
# 결측값의 비율이 많은 항목을 제외하고 분석 (그 항목이 분석에 있어 중요하지 않다면!!!!)
df1.drop(columns=['Age', 'Credit_Rank','Bank']).dropna()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Address1,Address2,State,Overdue_count,Overdue_Type,Gender
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,경기도,경기도,계약확정,0,없음,여자
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,경기도,경기도,계약확정,0,없음,남자
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,경기도,경기도,계약확정,0,없음,여자
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,경기도,경기도,계약확정,0,없음,남자
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,경기도,경기도,기간만료,12,있음,남자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,경기도,경기도,계약확정,0,없음,남자
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,경기도,경기도,계약확정,0,없음,여자
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,서울특별시,서울특별시,계약확정,0,없음,여자
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,서울특별시,서울특별시,계약확정,0,없음,여자
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,서울특별시,서울특별시,계약확정,0,없음,여자

In [6]:

df1['Credit_Rank'].tail(10)

51291    NaN
51292    NaN
51293    1.0
51294    NaN
51295    1.0
51296    NaN
51297    8.0
51298    1.0
51299    2.0
51300    8.0
Name: Credit_Rank, dtype: float64

In [9]:
# 결측값 대치
df1['Credit_Rank'].tail(10).fillna(0)

51291    0.0
51292    0.0
51293    1.0
51294    0.0
51295    1.0
51296    0.0
51297    8.0
51298    1.0
51299    2.0
51300    8.0
Name: Credit_Rank, dtype: float64

In [10]:
# 결측값 대치 (평균 대치)
df1['Credit_Rank'].tail(10).fillna(df1['Credit_Rank'].mean())

51291    3.42881
51292    3.42881
51293    1.00000
51294    3.42881
51295    1.00000
51296    3.42881
51297    8.00000
51298    1.00000
51299    2.00000
51300    8.00000
Name: Credit_Rank, dtype: float64

In [12]:
# 결측값 대치
df1['Credit_Rank'].tail(10).fillna(method='bfill') # 아래 있는 실제값을 기준으로 위로 다음 실제값이 등장할 때 까지 대치

C:\Users\UserK\AppData\Local\Temp\ipykernel_10012\3618233075.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Credit_Rank'].tail(10).fillna(method='bfill') # 아래 있는 실제값을 기준으로 위로 다음 실제값이 등장할 때 까지 대치

51291    1.0
51292    1.0
51293    1.0
51294    1.0
51295    1.0
51296    8.0
51297    8.0
51298    1.0
51299    2.0
51300    8.0
Name: Credit_Rank, dtype: float64

In [14]:
# 결측값 대치
df1['Credit_Rank'].tail(10).fillna(method='ffill') # 위에 있는 실제값을 기준으로 다음 실제값이 등장할 때 까지 대치

C:\Users\UserK\AppData\Local\Temp\ipykernel_10012\4009011792.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['Credit_Rank'].tail(10).fillna(method='ffill') # 위에 있는 실제값을 기준으로 다음 실제값이 등장할 때 까지 대치

51291    NaN
51292    NaN
51293    1.0
51294    1.0
51295    1.0
51296    1.0
51297    8.0
51298    1.0
51299    2.0
51300    8.0
Name: Credit_Rank, dtype: float64

### CDA

- 통계적 가설 검정 : 규명하고자 하는 바를 **가설**로 수립하여, 해당 가설이 참인지 거짓인지 **객관적인 값**으로 규명하는 작업
- 가설 :
  - 귀무가설 : 현재까지 주장되어 온 것이거나, 현재까지 유지되었던 상황에 변화나 차이가 없는 상태를 설명하는 가설
        - 현재까지 유지된 것 -> 보통상황 (각 항목들이 독립된 상황)
  - 대립가설 : 새로 주장하는 것, 표본으로 부터 현자와 다른 상황 변화가 발생한 상태
 
- 10대와 20대의 연령대 간 주당 방문횟수의 차이가 있는지 검정
  - 귀무가설 : 10대와 20대 간의 주당 방문 횟수의 평군의 차이가 없다.
  - 대립가설 : 10대와 20대 간의 주당 방문 횟수의 평균의 차이가 있다.