In [2]:
import pandas as pd
import os

os.getcwd()

In [12]:
jeju = pd.read_csv("jeju.csv")
print(jeju.info())
jeju

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9621 non-null   int64
 1   id          9621 non-null   int64
 2   일자          9621 non-null   object
 3   시도명         9621 non-null   object
 4   읍면동명        9621 non-null   object
 5   거주인구        9621 non-null   float64
 6   근무인구        9621 non-null   float64
 7   방문인구        9621 non-null   float64
 8   총 유동인구      9621 non-null   float64
 9   평균 속도       9621 non-null   float64
 10  평균 소요 시간    9621 non-null   float64
 11  평균 기온       9621 non-null   float64
 12  일강수량        9621 non-null   float64
 13  평균 풍속       9621 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 1.0+ MB
None

,Unnamed: 0,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [13]:
# 1. 마지막 행 3개행을 출력하라
jeju.tail(3)

,Unnamed: 0,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [36]:
jeju.dtypes

Unnamed: 0      int64
id              int64
일자             object
시도명            object
읍면동명           object
거주인구          float64
근무인구          float64
방문인구          float64
총 유동인구        float64
평균 속도         float64
평균 소요 시간      float64
평균 기온         float64
일강수량          float64
평균 풍속         float64
dtype: object

In [50]:
# 2. 수치형 자료형을 가진 데이터만 추출
jeju.select_dtypes(exclude='object').iloc[:,1:]

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...
9616,32064,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [51]:
# 3.문자형 혹은 범주형 자료형을 가진 데이터만을 추출하자
answer3 = jeju.select_dtypes(include='object')
print(answer3)

              일자   시도명  읍면동명
0     2018-01-01   제주시   도두동
1     2018-01-01   제주시   외도동
2     2018-01-01   제주시  이도2동
3     2018-01-01   제주시  일도1동
4     2018-01-01  서귀포시   대천동
...          ...   ...   ...
9616  2020-04-30  서귀포시   표선면
9617  2020-04-30   제주시   한림읍
9618  2020-04-30   제주시   도두동
9619  2020-04-30  서귀포시   안덕면
9620  2020-04-30   제주시    연동

[9621 rows x 3 columns]

In [32]:
# 4. 결측값을 확이해보라
jeju.isna().sum()

Unnamed: 0    0
id            0
일자            0
시도명           0
읍면동명          0
거주인구          0
근무인구          0
방문인구          0
총 유동인구        0
평균 속도         0
평균 소요 시간      0
평균 기온         0
일강수량          0
평균 풍속         0
dtype: int64

In [28]:
# 5. 데이터의 기본정보 및 분포를 확인해라
jeju.describe()

,Unnamed: 0,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,4810.000000,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,0.000000,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,2405.000000,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,4810.000000,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,7215.000000,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,9620.000000,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [39]:
# 6. 평균 속도 컬럼 4분위 범위인 (IQR)을 구해보세요.

a = jeju['평균 속도'].quantile(0.25)
b = jeju['평균 속도'].quantile(0.75)

34.25

In [55]:
jeju['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)